:root{
  --background-gradient: linear-gradient(rgb(46, 132, 243),rgb(38, 183, 241));
  --shadow-color: 0.4rem 0.66rem 0.3rem rgb(28, 115, 230);
  --box-shadow-color: 0.2rem 0.4rem 0.2rem rgb(21, 90, 180);
  --shadow-text:0.15rem 0.15rem 0.06rem rgb(3, 44, 97);
  --border:medium solid rgb(28, 115, 230);
}



html, body {
  box-sizing: border-box; /*La caja empieza a contar desde el borde*/
  scroll-behavior: smooth;
  font-size: 16px;
  height:100%;
  margin: 0px;
  padding: 0;
}

/*Aseguramos que todos los elementos del documento html y/o de los modulos o plugins que añadamos hereden el box-sizing*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.header{
  z-index: 1000;
  position: sticky;
  color: white;
  top: 0;
  text-shadow: var(--shadow-text);
  background-image:var(--background-gradient);
  width: 100%;
  height: 50px;
  margin: 0px;
  display: flex;
  align-items: center;

}

main h2 {
  margin: 0px;
  width: 50%;
  background-color: red;
}

.header img{
  
  /*altura del elemento contenedor o elemento padre*/
  height:90%;

}


.header h2{
  /*background-color: rgb(48, 131, 106);*/
  border: 2px solid black;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  height:100%;
  overflow: hidden; 
  /*width:18.5rem;*/
  
}

.loader{
  height:100%;
  padding:2px;
  display: none;
}

.battery{
  display: flex;
  align-items: center;
  height:100%;
  max-width:100%;
  width:auto;
}


.fa{
  max-height:100%;
  height: auto;
  max-width:100%;
  margin: 0rem 2rem;
  margin-right: 1rem;
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.06rem rgb(3, 44, 97);;
  /*max-width: 100%;*/
}
.fa.fa-battery{font-size: 2.2rem;}
.fa.fa-battery-4{font-size: 2.2rem;}
.fa.fa-battery-3{font-size: 2.2rem;}
.fa.fa-battery-2{font-size: 2.2rem;}
.fa.fa-battery-1{font-size: 2.2rem;}
.fa.fa-battery-0{font-size: 2.2rem;}
header span{
  font-size: 1.6rem;
}

.panel-btn {

  z-index: 999;
  /*width: 4rem;
  height: 4rem;*/
  height: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;

}

.panelMenu {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-image: linear-gradient(rgba(19, 178, 241, 0.98),rgba(165, 226, 250, 0.90),rgba(210, 232, 241, 0.85));
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease, visibility 0.5s ease;
  /* De arriba */
  transform: translate(0, -100%);
  /* De abajo */
  transform: translate(0, 100%);
  /* De la derecha */
  transform: translate(100%, 0);
  /* De la izquierda */
  transform: translate(-100%, 0);
}

.panelMenu.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}


.menu {
  /*width: inherit;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/

  align-items: center;
  text-align: center;
  
}


.menu button{
  height:4rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  display: block;
  color:white;
  box-shadow: var(--box-shadow-color);
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  border-color: black;
  background-color: rgb(69, 178, 241);
  margin-bottom: 1rem;
}

.menu button:hover {
  font-weight: bold;
  color: rgb(18, 18, 99);
  background-color: rgb(225, 241, 130);
}


button.conectar{
  margin-bottom: 8rem;
  position: relative;
}

.conectar .loader{
  position: absolute;
  height: 8px;
  right: 3%;
  bottom: 15%;
  height: 70%;
}

button.conectar.is-active{
  background-color: red;
}

/*
button.btn-temperatura{
  margin-bottom: 2rem;
  position: relative;
}*/

button.btn-temperatura.is-active{
  background-color: red;
}
/*
button.btn-humedad{
  margin-bottom: 2rem;
  position: relative;
}*/

button.btn-humedad.is-active{
  background-color: red;
}

button.btn-gas.is-active{
  background-color: red;
}

button.btn-alarm1.is-active{
  background-color: red;
}

.main{
  /*background-color: antiquewhite;*/
  width: 100%;
  /*height: 100vh;*/
  flex-grow: 1;
  
}


article header{
  font-size:1.5rem;
  color: red;
}

.main article{
  width: 95%;
  /*height: 75vh;*/
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  border: var(--border);
  box-shadow: var(--shadow-color);
  border-radius: 1rem;
  background-color:white;
  margin-top: 1.7rem;
}

.temperatura{
  display: block;
  opacity: 0;
  padding:0;
  margin:0;
  visibility: hidden;
  height: 0vh;
  transition: opacity 0.5s ease, height 0.6s ease, visibility 0.5s ease;
}

.temperatura.is-active{
  opacity: 1;
  visibility:visible;
  height: 650px;
  margin-top: 1rem;
  /*display: none;*/
}

#chart-temperatura{
  max-width: 100%;
  height:auto;
  max-height: 90%;
  width:90%;
}

.humedad{
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 0vh;
  padding:0;
  margin:0;
  transition:  opacity 0.5s ease, height 0.6s ease, visibility 0.5s ease;
}

.humedad.is-active{
  opacity: 1;
  visibility:visible;
  height: 650px;
  margin-top: 1rem;
  /*display: none;*/
}

#chart-humedad{
  max-width: 100%;
  /*height:auto;*/
  max-height: 90%;
  height:auto;
  width:90%;
}

.gas{
  display: block;
  opacity: 0;
  visibility: hidden;
  height: 0vh;
  padding:0;
  margin:0;
  transition:  opacity 0.4s ease, height 0.6s ease, visibility 0.4s ease;
}

.gas.is-active{
  opacity: 1;
  visibility:visible;
  height: 1200px;
  margin-top: 1rem;
  /*display: none;*/
}

#chart-C02{
  max-width: 100%;
  /*height:auto;*/
  /*max-height: 90%;*/
  height:500px;
  width:90%;
}
#chart-C0V{
  max-width: 100%;
  /*height:auto;*/
  /*max-height: 90%;*/
  height:500px;
  width:90%;
}


/*Para baterias*/

.blue-color {
  color:blue;
}

.green-color {
  color:green;
}

.teal-color {
  color:teal;
}

.yellow-color {
color:yellow;
}

.red-color {
  color:red;
}

div.alarm{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1010;
  top: 20%;
  left: 30%;
  height:0vh;
  width: 40vw;
  border:medium solid red;
  border-radius: 1.2rem;
  color: red;
  background-color: rgb(243, 210, 210);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, height 0.6s ease, visibility 0.5s ease;
}

.alarm.is-active{
  opacity: 1;
  visibility:visible;
  height: 30vh;
  /*margin-top: 1rem;*/
  /*display: none;*/
}

.alarm h2{
  /*padding-left: 1rem;*/
  margin-bottom: 1rem;
  width:100%;
  text-align:center;
  color: red;
  background-color: inherit;
}


